.bottom_left{
  position: absolute;
  zIndex: 1;
  top: auto;
  bottom: 12px;
  left: 12px;
  max-width: 330px;
  font-size: 1rem !important;
}
.bottom_right {
  position: absolute;
  zIndex: 1;
  top: auto;
  bottom: 12px;
  right: 7rem;
  width: 220px;
  color: #000;
  background-color: #FFF;
  font-size: .6rem !important;
  padding: 2px !important;
}
.highlight-blue {
   color: #00F;
}
.statement_list {
  background-color: #FFF;
  color: #000;
  width: 100%;
}
ul, li {
  padding: 0;
  margin: 0 !important;
}
li {
  list-style-type: none;
}
li.statement-item {
  margin-bottom: .3rem !important;
}
.type_notation {
  color: #999;
}
